@font-face {
    font-family: 'AracneUltraCondensedLight';
    src: url('AracneUltraCondensedLight/AracneUltraCondensedLight.eot');
    src: url('AracneUltraCondensedLight/AracneUltraCondensedLight.eot?#iefix') format('embedded-opentype'),
        url('AracneUltraCondensedLight/AracneUltraCondensedLight.woff2') format('woff2'),
        url('AracneUltraCondensedLight/AracneUltraCondensedLight.woff') format('woff'),
        url('AracneUltraCondensedLight/AracneUltraCondensedLight.ttf') format('truetype'),
        url('AracneUltraCondensedLight/AracneUltraCondensedLight.svg#AracneUltraCondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

