.footer-wrp{
	background: #005caa;
	color: #fff;
	padding: 42px 0 35px;
}
.ftr-menu{
	float: left;
}
.ftr-menu ul li,
.ftr-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-menu ul{
	padding-top: 10px;
}
.ftr-menu ul li{
	padding-right: 20px;
}
.ftr-menu ul li a{
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
}

.ftr-social{
	display: flex;
	align-items: center;
	margin-left: auto;
	float: right;
}

.ftr-social label{
	margin: 0;
	font-size: 36px;
	line-height: 1;
	color: #fff;
}
.ftr-social ul li{
	padding-left: 17px;
	font-size: 45px;
	line-height: .9;
}
.ftr-social ul li a{
	color: #fff;
}
.ftr-social ul li a:hover,
.ftr-menu ul li a:hover{
	color: #20ade3;
}

/*modal*/
.modal-open .modal{
	padding-right: 15px!important;
	padding-left: 15px!important;
}
.sm-modal{
	padding: 50px;

}
.sm-modal-btn{
	max-width: 160px;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: #fff;
	font-weight: 600;
	background: #293377;
	margin-left: auto;
	margin-right: auto;
}
.sm-modal-cntlr{
	padding: 0 15px;
	color: #464646;
}
.sm-modal-cntlr .modal-content{
	text-align: center;
}
.sm-modal-cntlr .modal-content .close span{
	color: #293377;
}
.fl-modal-des .modal-title{
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 10px;
	display: block;
	font-family: 'PFHighwayGothicComp-Regular';
}
.fl-modal-des p{
	margin-bottom: 25px;
}
.fl-modal-des a{
	max-width: 160px;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: #fff;
	font-weight: 600;
	background: #293377;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	margin-left: auto;
	margin-right: auto;	
	border: 2px solid #293377;
}

.sm-modal-cntlr .modal-dialog{
	max-width: 328px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.sm-modal-cntlr .modal-content{
	position: relative;
	border-radius: 0;
}
.sm-modal-cntlr .modal-body{
	padding: 55px 35px 30px;
}
.sm-modal-cntlr button.close{
	position: absolute;
	right: 17px;
	top: 17px;
	z-index: 100;
	cursor: pointer;
	opacity: 1;
}
.fl-modal-des a:hover{
	background: transparent;
	color: #293377;
}
.sm-modal-cntlr .modal-content .close span:hover{
	opacity: .9;
}

@media(max-width: 1499px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-menu ul li a{
		font-size: 30px;
	}
	.ftr-social label{
		font-size: 32px;
	}
	.footer-wrp {
	    padding: 33px 0 27px;
	}
}

@media(max-width: 991px){
	.ftr-menu ul li a {
	    font-size: 26px;
	}
	.ftr-social label {
	    font-size: 28px;
	}
	.ftr-social ul li{
		font-size: 40px;
	}
}

@media(max-width: 767px){
	.ftr-menu {
	    float: none;
	    text-align: center;
	    padding-bottom: 20px;
	}
	.ftr-social{
	    display: flex;
	    justify-content: center;
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
	}
	.ftr-social label,
	.ftr-social ul{
		display: inline-block;
		vertical-align: baseline;
	}
	.ftr-menu ul li{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media(max-width: 575px){
	.ftr-menu ul li {
	    padding-left: 6px;
	    padding-right: 6px;
	}
	.ftr-menu ul li a {
	    font-size: 24px;
	}
	.ftr-social label {
	    font-size: 26px;
	}
	.ftr-social ul li {
	    font-size: 36px;
	}
}

@media(max-width: 479px){
	.sm-modal-cntlr .modal-body {
	    padding: 60px 20px 50px;
	}	
	.fl-modal-des .modal-title{
		font-size: 25px;
	}

}

@media(max-width: 359px){

}
