.mainBanner{
	position: relative;
}
.main-bnr-rgt-img{
	position: absolute;
	max-width: 1580px;
	width: 100%;
	bottom: -65px;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: auto;
}
.mainBnrItem{
	min-height: 1070px;
	position: relative;
}
.mainBnrItemDes{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	z-index: 2;
}
.mainBnrItemDesInr{
	padding-bottom: 180px;
}
.mainBnrItemDesInr h1{
	margin-bottom: 0;
	line-height: .8;
	font-weight: normal;
	font-family: 'PFHighwayGothicCompLight-Regular';
}
.mainBnrItemDesInr h1 span{
	display: inline-block;
	vertical-align: baseline;
	background: #0066b1;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 7px;
	font-size: 60px;
	line-height: .6;
	margin-bottom: 6px;
}
.mainBnrItemDesInr p{
	font-size: 36px;
	margin-bottom: 20px;
}
.mainBnrItemDesInr h3{
	font-family: 'TheSansAmstel-CondensedPlain';
	font-size: 60px;
	line-height: 1;
	margin: 0 0 15px 0;
}

.mainBnrItemDesInr a{
	max-width: 238px;
	width: 100%;
	height: 81px;
	font-size: 40px;
	line-height: 1;
	color: #fff;
	background: #0066b1;
	padding: 12px 5px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #0066b1;
	font-family: 'PFHighwayGothicComp-Regular';
}
.mainBnrItemDesInr a:hover{
	background: transparent;
	border-color: #fff;
	color: #fff;
}

.form-sec{
	padding: 70px 0 95px;
	background: #005caa;
	min-height: 500px;
	position: relative;
	margin-top: -2px;
}
.form-left-lines{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.form-right-lines{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	max-width: 440px;
}
.form-sec-con-cntlr{
	color: #fff;
	position: relative;
	z-index: 2;
}
.pl-215{
	padding-left: 215px;
}
.form-sec-hdr{
	padding-bottom: 65px;
}
.form-sec-hdr-title{
	display: block;
	font-size: 67px;
	line-height: .8;
	margin: 0 0 4px 0;
}
.form-sec-hdr p{
	font-size: 35px;
	margin-bottom: 20px;
}

.form-con-lft{
	float: left;
	width: 55%;
}
.form-con-rgt{
	float: right;
	width: 45%;
	padding: 0 0 0 20px;
}

.form-title{
	display: block;
	text-transform: uppercase;
	font-size: 48px;
	line-height: .9;
	margin: 0 0 90px 0;
	font-family: 'PFHighwayGothicComp-Regular';
	position: relative;
}
.form-title input[type="text"]{
	position: relative;
	z-index: 2;
	background: transparent;
	color: #fff;
	font-size: 48px;
	font-family: 'PFHighwayGothicComp-Regular';
}
.form-title input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.form-title input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.fl-form-fi.form-title input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.form-title input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.form-title:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	height: 10px;
	background: #20ade3;
	z-index: 1;
}
.form-rgt-img-area{
	text-align: center;
	margin-top: -60px;
	max-width: 480px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	position: relative;
}
.form-rgt-img-area-con{
	max-width: 333px;
	width: 100%;
	position: relative;
}
.form-rgt-img-area-con img{
	width: 100%;
}
.form-rgt-img-area-des{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 50px;
}
.form-rgt-img-area-des span{
	display: block;
	font-size: 26px;
}
.form-rgt-img-area-des strong {
	font-weight: normal;
    font-family: 'TheSansAmstel-CondensedPlain';
    font-size: 17px;
    line-height: 1;

}
.value-set{
	max-width: 135px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.value-set h5{
	margin-bottom:0;
	font-size: 33px;
	text-transform: uppercase;
	font-family: 'PFHighwayGothicComp-Regular';
	word-break: break-word;
}
.fria-title{
	padding: 13px 0 0 0;
	text-transform: uppercase;
	font-size: 39px;
	line-height: 1;
	font-weight: normal;
	display: block;
}
.fl-form{
	overflow: hidden;
}
.fl-form-filed-col span{
	display: block;
	position: relative;
}
.fl-form-filed-col span:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
	height: 8px;
	background: #20ade3;
	z-index: 1;
}
.fl-form-filed-col input[type="text"],
.fl-form-filed-col input[type="email"]{
	width: 100%;
	background: transparent;
	color: #fff;
	font-size: 30px;
	line-height: 1;
	position: relative;
	z-index: 2;
	font-family: 'PFHighwayGothicCompThin-Italic';
}

.fl-form-filed-col input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.fl-form-filed-col input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.fl-form-filed-col input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.fl-form-filed-col input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.fl-form-filed-col input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.fl-form-filed-col input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.fl-form-filed-col input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.fl-form-filed-col input[type="email"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.fl-form-filed-row{
	margin: 0 -43px;
}
.fl-form-filed-col{
	float: left;
	width: 50%;
	padding: 0 43px 50px;
}

.fl-form{
	padding: 0 110px 0 0;
}

.form-social{
	margin: 0 -2px;
}
.form-social-col{
	float: left;
	width: 50%;
	padding: 0 2px;
}
.form-social-col a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	color: #fff;
	font-size: 16px;
	font-family: 'TheSansAmstel-Plain';
}
.form-social-col a.form-social-facebook:hover{
	background: #344e8a;
}

.form-social-col a.form-social-instagram:hover{
	background: #a4256d;
}
.form-social-col a i{
	font-size: 20px;
	line-height: 1;
	margin-right: 7px;
}
.form-social-col a div{
	display: flex;
	align-items: center;
}
.form-social-col a.form-social-facebook i{
	font-size: 16px;
}
.form-social-facebook{
	background: #405993;
}
.form-social-instagram{
	background: #bc307f;
}

.necessary-fields-text{
	padding: 10px 0 20px;
}
.necessary-fields-text p{
	font-size: 18px;
	line-height: 1;
	margin: 0;
}


.check-row{
	position: relative;
	padding: 0 15px 20px 25px;
	font-size: 12px;
	line-height: 14px;
}
.check-row input[type="checkbox"],
.check-row input[type="radio"]{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	left: 0;
	z-index: 1;
}
.check-row span.checkmark{
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border-radius: 0;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-row input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-row .checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.check-row span.price-value {
	float: right;
	color: #9c9c9c;
	position: absolute;
	right: 0;
}
.check-row span.checkmark{
	padding-left: 0px;
}
.check-row > label{
	display: inline-block;
	vertical-align: middle;
	padding-left: 0;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	font-size: 22px;
	line-height: 1;
	text-transform: uppercase;
}
.check-row > label u{
	text-decoration: underline;
}

.check-row input[type="checkbox"],
.check-row input[type="radio"]{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 0;
	width: 17px;
	height: 17px;
	border: none;
}

.form-submit-btn input[type="submit"]{
	background: #20ade3;
	border: none;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 1;
	padding: 12px 10px 8px;
	color: #fff;
	cursor: pointer;
	max-width: 321px;
	height: 72px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'PFHighwayGothicComp-Regular';
	border: 2px solid #20ade3;
}
.form-submit-btn input[type="submit"]:hover{
	background: #00b8ff;
}




.why-section{
	padding: 55px 0 140px;
	background: #d9d9d9;
	color: #005caa;
}
.why-sec-hdr{
	text-align: center;
	padding-bottom: 35px;
}
.why-sec-hdr-title{
	display: block;
	margin: 0;
	text-transform: uppercase;
	font-size: 67px;
	line-height: .8;
	font-family: 'PFHighwayGothicComp-Regular';
}
.why-sec-hdr p{
	font-size: 35px;
	line-height: 1;
}
.why-sec-grd-cntlr ul{
	margin: 0 -10px;
}
.why-sec-grd-cntlr ul li{
	float: left;
	width: 25%;
	padding: 0 10px 20px;
}
.why-sec-grd-cntlr ul li:nth-child(4n+1){
	clear: left;
}
.why-sec-grd{
	height: 379px;
	position: relative;
	background: #bebebe;
	padding: 20px 20px 0;
	text-align: center;
	display: flex;
	overflow: hidden;
}

.why-sec-grd img{
	max-height: 360px;
	margin-top: auto;
}
.why-sec-grd-des{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #005caa;
	color: #fff;
	padding: 15px 10px 13px;
	text-align: center;
	z-index: 2;
	border-top: 1px solid #005caa;
}
.why-sec-grd:hover .why-sec-grd-des{
	border-color: #08102f;
}
.why-sec-grd-des strong{
	display: block;
	font-size: 36px;
	line-height: 1;
	font-weight: normal;
	font-family: 'PFHighwayGothicComp-Regular';
}
.why-sec-more-btn{
	text-align: center;
	padding-top: 50px;
}
.why-sec-more-btn a{
	max-width: 211px;
	width: 100%;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 36px;
	line-height: 1;
	color: #fff;
	background: #005caa;
	text-transform: uppercase;
	padding: 12px 10px 8px;
	font-family: 'PFHighwayGothicComp-Regular';
	border: 2px solid #005caa;
}
.why-sec-more-btn a:hover{
	color: #005caa;
	background: transparent;
}

.why-sec-grd-cntlr ul li{
	display: none;
}

/**/
.page-acceess-con-cntlr{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #005caa;
	z-index: 120;
}
.page-acceess-con{
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-acceess-con-inr{
	position: relative;
	z-index: 50;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.page-acceess-logo{
	padding-bottom: 170px;
	text-align: center;
}
.page-acceess-logo a{
	display: inline-block;
	vertical-align: baseline;
}
.acceess-form-fields{
	display: flex;
	align-items: center;
	padding-bottom: 5px;
}
.acceess-form-fields span{
	padding: 0 10px;
}
.born-date-form-body{
	display: flex;
	align-items: center;
	font-family: 'PFHighwayGothicComp-Regular';
	color: #fff;
	
}
.acceess-submit-btn{
	text-align: center;
	padding-top: 60px;
}
.acceess-submit-btn button{
	width: 194px;
	height: 85px;
	color: #fff;
	font-size: 42px;
	line-height: 1;
	padding: 10px;
	text-transform: uppercase;
	background: #20ade3;
	border: none;
    font-family: 'PFHighwayGothicComp-Regular';
    cursor: pointer;
    border: 2px solid #20ade3;
}
.acceess-submit-btn button:hover{
	background: transparent;
}
.born-date-form-body label{
	margin-bottom: 0;
	padding-right: 10px;
}
.born-date-form-body label,
.acceess-form-fields input[type="text"]{
	font-size: 56px;
	line-height: 1;
}
.acceess-form-fields input[type="text"]{
	color: #fff;
	width: 65px;
	padding: 0 5px 0;
	border-bottom: 9px solid #20ade3;
	background: transparent;
	text-align: center;
}
.acceess-form-fields span:last-child input[type="text"]{
	width: 80px;
}

.acceess-form-fields input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#fff;
  opacity: 1;
}
.acceess-form-fields input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color:#fff;
  opacity: 1;
}
.acceess-form-fields input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color:#fff;
  opacity: 1;
}
.acceess-form-fields input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color:#fff;
  opacity: 1;
}
.page-acceess-con-hide{
	display: none;
}
.alert-txt{
	display: block;
	color: #fff;
	text-align: center;
}

@media(max-width: 1499px){
	.pl-215 {
	    padding-left: 115px;
	}

}

@media(max-width: 1399px){
	.form-sec-hdr-title{
		font-size: 64px;
	}
	.form-sec-hdr p{
		font-size: 30px;
	}
	.form-left-lines{
		max-width: 300px;
	}
	.form-right-lines{
		max-width: 350px;
	}
	.header{
		padding-top: 50px;
	}
}

@media(max-width: 1299px){
	.why-sec-grd{
		height: 346px;
	}
}

@media(max-width: 1199px){
	.why-sec-hdr-title,
	.form-sec-hdr-title{
		font-size: 60px;
	}
	.why-sec-grd {
	    height: 270px;
	}
	.why-sec-grd-des strong{
		font-size: 28px;
	}
	.why-sec-grd-des{
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.why-sec-more-btn a {
	    height: 60px;
	    font-size: 30px;
	}
	.why-sec-more-btn{
		padding-top: 35px;
	}
	.why-section{
		padding-bottom: 100px;
	}
	.why-sec-hdr p {
	    font-size: 32px;
	}
	.pl-215 {
	    padding-left: 0;
	}
	.form-left-lines{
		max-width: 156px;
	}
	.fl-form-filed-row {
	    margin: 0 -25px;
	}
	.fl-form-filed-col{
		padding: 0 25px 40px;
	}
	.fl-form{
		padding-right: 70px;
	}
	.form-submit-btn input[type="submit"] {
	    font-size: 32px;
	    max-width: 305px;
	    height: 62px;
	}
	.form-right-lines {
	    max-width: 268px;
	}
	.form-title{
		font-size: 45px;
	}
	.mainBnrItem{
		min-height: 910px;
	}
	.mainBnrItemDesInr a {
	    height: 65px;
	    font-size: 36px;
	}
	.mainBnrItemDesInr h3{
		font-size: 56px;
	}
	.mainBnrItemDesInr h1 span{
		font-size: 55px;
	}
	.mainBnrItemDesInr p{
		font-size: 30px;
	}
}
@media(max-width: 1023px){
	.why-sec-grd {
	    height: 250px;
	}
	.born-date-form-body label, .acceess-form-fields input[type="text"]{
		font-size: 50px;
	}

}

@media(max-width: 991px){
	.why-sec-hdr-title,
	.form-sec-hdr-title{
		font-size: 55px;
	}
	.why-sec-grd-cntlr ul li{
		width: 50%;
	}
	.why-sec-grd-cntlr ul li:nth-child(4n+1) {
	    clear: initial;
	}
	.why-sec-grd-cntlr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.why-sec-grd-cntlr ul{
		max-width: 580px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.why-sec-hdr{
		padding-bottom: 25px;
	}
	.why-sec-hdr p {
	    font-size: 31px;
	}
	.form-con-rgt,
	.form-con-lft{
		width: 100%;
	}
	.form-con-rgt{
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;
	}
	.form-rgt-img-area{
		margin-left: auto;
		margin-right: auto;
	}
	.main-bnr-rgt-img{
		bottom: -50px;
	}
	.main-bnr-rgt-img img{
		max-width: 300px;
	}
	.mainBnrItemDesInr h1 span {
	    font-size: 50px;
	}
	.form-con-rgt{
		padding-top: 40px;
	}
	.form-rgt-img-area{
		margin-top: 0;
	}
	.form-rgt-img-area-con {
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	}
	.why-sec-grd {
	    height: 270px;
	}
	.born-date-form-body label, .acceess-form-fields input[type="text"]{
		font-size: 45px;
	}
}

@media(max-width: 767px){
	.fl-form-filed-col input[type="text"], .fl-form-filed-col input[type="email"]{
		font-size: 27px;
	}
	.why-sec-hdr-title, .form-sec-hdr-title {
	    font-size: 50px;
	}
	.form-sec-hdr p {
	    font-size: 24px;
	    line-height: 1.1;
	}
	.fria-title{
		font-size: 35px;
	}
	.form-title{
		margin-bottom: 60px;
	}
	.check-row > label{
		font-size: 20px;
	}
	.form-title {
	    font-size: 40px;
	}
	.form-right-lines {
	    max-width: 214px;
	}
	.why-sec-hdr p {
	    font-size: 28px;
	}
	.mainBnrItemDesInr p br{
		display: none;
	}
	.mainBnrItemDesInr h1 span {
	    font-size: 45px;
	}
	.mainBnrItemDesInr h3 {
	    font-size: 50px;
	}
	.mainBnrItemDesInr a {
	    height: 60px;
	    font-size: 32px;
	    max-width: 220p;
	}
	.main-bnr-rgt-img img {
	    max-width: 250px;
	}
}
@media(max-width: 639px){
	.why-sec-grd-cntlr ul{
		margin-left: 0;
		margin-right: 0;
	}
	.why-sec-grd-cntlr ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.why-sec-grd{
		max-width: 280px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.page-acceess-logo img{
		max-width: 100px;
	}
}
@media(max-width: 575px){
	.fl-form-filed-col{
		width: 100%;
	}
	.form-title:after{
		height: 8px;
	}
	.fl-form-filed-col span:after{
		height: 5px;
	}
	.fl-form {
	    padding-right: 50px;
	}
	.form-submit-btn input[type="submit"] {
	    font-size: 29px;
	    max-width: 280px;
	    height: 55px;
	}
	.form-right-lines {
	    max-width: 150px;
	}
	.why-sec-more-btn a {
	    height: 55px;
	    font-size: 26px;
	}
	.why-section {
	    padding-bottom: 70px;
	}
	.why-sec-hdr-title, .form-sec-hdr-title {
	    font-size: 45px;
	}
	.main-bnr-rgt-img img {
	    max-width: 225px;
	}
	.mainBnrItemDesInr h1 span {
	    font-size: 40px;
	}
	.mainBnrItemDesInr p {
	    font-size: 25px;
	}
	.mainBnrItemDesInr h3 {
	    font-size: 45px;
	}
	.value-set h5{
		font-size: 30px;
	}
	.born-date-form-body{
		display: block;
	}
	.born-date-form-body label {
	    padding-right: 0;
	    display: block;
	    width: 100%;
	    text-align: center;
	}
	.acceess-form-fields{
		display: block;
	}
	.acceess-form-fields span{
		display: inline-block;
		vertical-align: baseline;
	}
}

@media(max-width: 479px){
	.fl-form {
	    padding-right: 40px;
	}
	.form-social-col a{
		font-size: 15px;
	}
	.form-social-col{
		width: 100%;
		margin-bottom: 10px;
	}
	.check-row > label{
		font-size: 18px;
	}
	.check-row span.checkmark {
	    top: 1px;
	    height: 16px;
	    width: 16px;
	}
	.fl-form-filed-col{
		padding-bottom: 30px;
	}
	.form-right-lines {
	    max-width: 128px;
	}
	.main-bnr-rgt-img img {
	    max-width: 170px;
	}
	.main-bnr-rgt-img {
	    bottom: -29px;
	}
}

@media(max-width: 359px){

}