@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	

}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	body{
		font-size: 20px;
	}
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 25px;
	}
	h4{
		font-size: 20px;
	}
	h5{
		font-size: 18px;
	}
	.logo{
		text-align: center;
	}
	.header {
	    padding-top: 40px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	body{
		font-size: 18px;
	}
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 27px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 20px;
	}
	h5{
		font-size: 18px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}



/* horizontal responsive*/
@media(max-height: 639px){
	.page-acceess-logo img{
		max-width: 150px;
	}
}

@media(max-height: 575px){
	.acceess-submit-btn button {
	    width: 170px;
	    height: 67px;
	    font-size: 38px;
	    padding: 17px 0 10px;
	}
	.page-acceess-logo img {
	    max-width: 125px;
	}
	.born-date-form-body label, .acceess-form-fields input[type="text"]{
		font-size: 40px;
	}
	.acceess-submit-btn{
		padding-top: 30px;
	}
	.page-acceess-logo{
		padding-bottom: 5%;
	}
}

@media(max-height: 479px){
	.page-acceess-logo img {
	    max-width: 90px;
	}
	.born-date-form-body label, .acceess-form-fields input[type="text"]{
		font-size: 29px;
	}
	.acceess-form-fields input[type="text"]{
		border-width: 6px;
	}
	.acceess-submit-btn button {
    width: 145px;
    height: 50px;
    font-size: 29px;
    padding: 10px 0 10px;
}
	.page-acceess-con-inr{
		padding-top: 0;
	}
}